#premiere-container{
  width:100% !important;
}

.btn-black{
  color: black !important;
  border-color: black !important;
}

.btn-black:hover{
  color:white !important;
}

.untertitel{
  font-size: 20px !important;
}

.gonnerverein{
  text-align: left !important;
}

.wir_abteilung{
  color:grey !important;
}

.wir_geschichte{
  color: black !important;
}

.wir_vorstand{
  padding-bottom: 0px !important;
}

.wir_vorstand_name{
  float: left;
  font-weight: bold !important;
}

.wir_vorstand_txt{
  float: right;
}

.wir_spender_name{
  font-weight: bold !important;

}

.wir_spender{
    line-height: 32px !important;
}

.wir_partner{
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
  box-shadow: none !important;
}

.footer_logo{
  margin-bottom: 35px !important;
}

.footer_titel{
  margin-top: 0px !important;
}
