#premiere-container{
  width:100% !important;
}

#preBtn:focus{
  color: #fff !important;
}

#premSpieler{
  resize: none;
  height: 150px;
}

#premSpielerEdit{
  resize: none;
  height: 150px;
}

#premVid{

}

#premOrt{
  line-height: 35px !important;
}

#my-dz{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#my-dz-msg{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

#premVidEdit{
  border-radius: 6px;
}

#premOrtEdit{
  line-height: 35px !important;
}

#my-dz-Edit{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#my-dz-msg-Edit{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

#deletemodal{
  padding-right: 17px;
}

#resetPwBtn{
  margin-right: 0px;
}

#jgtSonst{
  margin-top: 7px;
  height: 34px;
  font-size: 24px;
}

#jgtdz{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#jgtdzmsg{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

#jgtdzA{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#jgtdzmsgA{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

.modalFooterText{
  margin-top: 8px;
}

.unclickable{
  pointer-events: none;
  background-color: #eeeeee;
}

.addAuf{
  background-color: #fff !important;
}

.noBorder{
  border: none;
}

.smallerH3{
  font-size: 16px;
}

.dBlock{
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -46px !important;
}

.premImgFix{
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
}

.beschriebArea{
  resize: none;
  height: 300px !important;
}

.beschriebArea-sm{
  resize: none;
  height: 215px !important;
}

.beschriebArea-xm{
  resize: none;
  height: 159px !important;
}

.beschriebArea-xs{
  resize: none;
  height: 102px !important;
}

.checkbox{
  margin:0px;
  font-size: 2em;
  line-height: 1.42857;
}

.checkbox label{
  font-size: 24px;
  padding-left:0px;
}

.FormTextAlign{
  font-size: 24px;
  line-height: 1.42857;
}

.dropzone {
	min-height: 214px;
  display: table;
  width: 100%;
}

.dz-preview{
    display: table-cell !important;
    vertical-align: middle !important;
}

.dz-preview *{
  margin:auto;
}

.dropzone .dz-preview .dz-error-message{
  left: 50%;
  margin-left: -70px;
}

.dz-details{
  margin-top: 30px;
}

.dz-message{
	font-weight: normal;
}

.dropzone.dz-clickable * {
  cursor: pointer;
}

.clickable{
  cursor: pointer;
}

.modalCorr{
    color: #000 !important;
}

.modal-body.modalCorr{
    padding-top: 5px !important;
}

.bigger-icon{
  font-size: 26px;
}

.huge-icon{
  font-size: 46px;
}

.fa-minus-square-o{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fa-minus-square-o:hover{
  color: var(--sub);
}


.counter{
    display: initial !important;
}

.btn-black{
  color: #000 !important;
  border-color: #000 !important;
}

.btn-black:hover{
  color:white !important;
}

.btn-black:focus{
  color:white !important;
}

.btn-success.btn-outline{
    color: var(--sub) !important;
    border-color: var(--sub) !important;
}

.btn-success.btn-outline:hover{
    color: #fff !important;
    background: var(--sub) !important;
}

.btn-success.btn-outline:focus{
    color: #fff !important;
    background: var(--sub) !important;
}

.btn-invert{
  border-color: var(--sub) !important;
  background: var(--sub) !important;
}

.btn-invert:hover{
  color: var(--sub) !important;
  background: none !important;
}

.btn-invert:focus{
  color: var(--sub) !important;
  background: none !important;
}

.modalResponse{
    float: right;
}

.regMod{
  margin-top: 10px;
}

.regMod20{
  margin-top: 20px;
}

.regModTitle{
  margin-top: 50px;
}

.regModTitle2{
  margin-top: 45px;
}

.resPw{
  margin-top: 10px;
  padding-left: 0px;
}

.resPw input{
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.notifier-alert{
  background: none;
  border: none;
  color: #000;
}

.untertitel{
  font-size: 20px !important;
  text-align: center !important;
}

.gonnerverein{
  text-align: left !important;
}

.titel{
  margin-bottom: 50px;
}

.mgt5{
  margin-top: 50px;
}

.wir_abteilung{
  color:grey !important;
}

.wir_geschichte{
  color: #000 !important;
}

.wir_vorstand{
  padding-bottom: 0px !important;
}

.wir_vorstand_name{
  float: left;
  font-weight: bold !important;
}

.wir_vorstand_txt{
  float: right;
}

.wir_spender_name{
  font-weight: bold !important;

}

.wir_spender{
    line-height: 32px !important;
}

.wir_partner{
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
  box-shadow: none !important;
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  opacity: 0.95 !important;
}

.wir_partner2{
  background-color: #fff !important;
}

.wir_partner:hover{
  filter: none !important;
  -webkit-filter: grayscale(0) !important;
  opacity: 1.0 !important;
}

.setBtn{
  width: 100% !important;
}

.top-dd ul li a{
  color: #000 !important;
  width: 100% !important;
  margin: 0px !important;
  padding-left: 15px !important;
}

.top-dd ul li{
  display: list-item !important;
}

.top-dd{
  display: list-item !important;
}

.footer_logo{
  margin-bottom: 35px !important;
}

.footer_titel{
  margin-top: 0px !important;
}

.invisibleStrict{
  visibility: hidden !important;
}

.addDate{
  border: 2px dashed var(--main);
  color: #9a9a9a;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.addDate:hover{
  border: 2px solid var(--main);
  color: #000;
}

.dz-fancy .dropzone{
  color: #9a9a9a;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dz-fancy .dropzone:hover{
  border: 2px solid var(--main) !important;
  color: #000;
}

.modSpace{
  margin-bottom: 57px;
}

#premDzAn{
  border: 2px dashed var(--main);
  border-radius: 6px;
}

#premDzAnMsg{
  height: 107px;
  line-height: 107px;
  text-align: center;
}

#premDzAnEdit{
  border: 2px dashed var(--main);
  border-radius: 6px;
}

#premDzAnMsgEdit{
  height: 107px;
  line-height: 107px;
  text-align: center;
}

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #000;
}

.roundBorder{
  border-radius: 6px;
}

.dz-hide{
  margin-top: 10px;
  border: none;
  display: table;
  width: 100%;
  border-radius: 5px;
  background: white;
  box-sizing: border-box;
}

.dz-hide .dz-hide-sub{
  position: relative;
  margin: 16px;
  display: table-cell !important;
  vertical-align: middle !important;
  box-sizing: border-box;
}

.dz-hide .dz-hide-sub .dz-hide-img{
  border-radius: 6px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10;
  margin: auto;
}

.dz-hide .dz-hide-sub .dz-hide-img img{
  height: 120px;
}

.dz-hide .dz-hide-sub .dz-hide-img .dz-mark{
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

.dz-hide .dz-hide-sub .dz-hide-img .dz-mark .fa{
  color: #fff;
  display: block;
  width: 54px;
  height: 54px;
}

.dz-hide-img:hover img{
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  cursor:pointer;
}

.dz-hide-img:hover .dz-mark{
  -webkit-animation: fadeIn 0.5s linear forwards;
  animation: fadeIn 0.5s linear forwards;
}

@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

@keyframes fadeOut{
   0% {opacity: 1;}
   100% {opacity: 0;}
}

.dz-hide-img:not( :hover ) .dz-mark{
  -webkit-animation: fadeOut 0.5s linear forwards;
  animation: fadeOut 0.5s linear forwards;
 }

.fh5co-cover-style-2{
    background-position: center !important;
}
