#premiere-container{
  width:100% !important;
}

#preBtn:focus{
  color: #fff !important;
}

#premSpieler{
  resize: none;
  height: 150px;
}

#premSpielerEdit{
  resize: none;
  height: 150px;
}

#premVid{
  border-radius: 6px;
}

#premOrt{
  line-height: 35px !important;
}

#my-dz{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#my-dz-msg{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

#premVidEdit{
  border-radius: 6px;
}

#premOrtEdit{
  line-height: 35px !important;
}

#my-dz-Edit{
  border: 2px dashed var(--main);
	border-radius: 6px;
}

#my-dz-msg-Edit{
	height: 107px;
	line-height: 107px;
	text-align: center;
}

#deletemodal{
  padding-right: 17px;
}

#resetPwBtn{
  margin-right: 0px;
}

#jgtSonst{
  margin-left: -60px;
  height: 34px;
}

.beschriebArea{
  resize: none;
  height: 300px !important;
}

.checkbox{
  margin:0px;
  line-height: 1.42857;
}

.checkbox label{
  font-size: 2em;
  padding-left:0px;
}

.checkbox-sm label{
  font-size: 24px;
}

.radio{
  margin:0px;
  line-height: 1.42857;
}

.radio label{
  font-size: 2em;
  padding-left:0px;
}

.FormTextAlign{
  font-size: 2em;
  line-height: 1.42857;
}

.dropzone {
	min-height: 214px;
  display: table;
  width: 100%;
}

.dz-preview{
    display: table-cell !important;
    vertical-align: middle !important;
}

.dz-preview *{
  margin:auto;
}

.dz-details{
  margin-top: 30px;
}

.dz-message{
	font-weight: normal;
}

.dropzone.dz-clickable * {
  cursor: pointer;
}

.modalCorr{
    color: #000 !important;
}

.modal-body.modalCorr{
    padding-top: 5px !important;
}

.bigger-icon{
  font-size: 26px;
}

.counter{
    display: initial !important;
}

.btn-black{
  color: #000 !important;
  border-color: #000 !important;
}

.btn-black:hover{
  color:white !important;
}

.btn-black:focus{
  color:white !important;
}

.btn-success.btn-outline{
    color: var(--sub) !important;
    border-color: var(--sub) !important;
}

.btn-success.btn-outline:hover{
    color: #fff !important;
    background: var(--sub) !important;
}

.btn-success.btn-outline:focus{
    color: #fff !important;
    background: var(--sub) !important;
}

.btn-invert{
  border-color: var(--sub) !important;
  background: var(--sub) !important;
}

.btn-invert:hover{
  color: var(--sub) !important;
  background: none !important;
}

.btn-invert:focus{
  color: var(--sub) !important;
  background: none !important;
}

.modalResponse{
    float: right;
}

.regMod{
  margin-top: 10px;
}

.regMod20{
  margin-top: 20px;
}

.regModTitle{
  margin-top: 50px;
}

.resPw{
  margin-top: 10px;
  padding-left: 0px;
}

.resPw input{
  background: none;
  color: #fff;
  border: 2px solid #fff;
}

.notifier-alert{
  background: none;
  border: none;
  color: #000;
}

.untertitel{
  font-size: 20px !important;
  text-align: center !important;
}

.gonnerverein{
  text-align: left !important;
}

.titel{
  margin-bottom: 50px;
}

.mgt5{
  margin-top: 50px;
}

.wir_abteilung{
  color:grey !important;
}

.wir_geschichte{
  color: #000 !important;
}

.wir_vorstand{
  padding-bottom: 0px !important;
}

.wir_vorstand_name{
  float: left;
  font-weight: bold !important;
}

.wir_vorstand_txt{
  float: right;
}

.wir_spender_name{
  font-weight: bold !important;

}

.wir_spender{
    line-height: 32px !important;
}

.wir_partner{
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
  box-shadow: none !important;
  filter: grayscale(100%) !important;
  -webkit-filter: grayscale(100%) !important;
  opacity: 0.95 !important;
}

.wir_partner2{
  background-color: white !important;
}

.setBtn{
  width: 100% !important;
}

.top-dd ul li a{
  color: #000 !important;
  width: 100% !important;
  margin: 0px !important;
  padding-left: 15px !important;
}

.top-dd ul li{
  display: list-item !important;
}

.top-dd{
  display: list-item !important;
}

.footer_logo{
  margin-bottom: 35px !important;
}

.footer_titel{
  margin-top: 0px !important;
}

.invisibleStrict{
  visibility: hidden !important;
}

.wir_partner:hover {
    filter: none !important;
    -webkit-filter: grayscale(0) !important;
    opacity: 1.0 !important;
}


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #000;
}
