#premiere-container{
  width:100% !important;
}

#infoModText{
  color: #000;
}

.bigger-icon{
  font-size: 26px;
}

.btn-black{
  color: #000 !important;
  border-color: #000 !important;
}

.btn-black:hover{
  color:white !important;
}

.btn-success.btn-outline{
    color: var(--sub) !important;
    border-color: var(--sub) !important;
}

.btn-success.btn-outline:hover{
    color: #fff !important;
    background: var(--sub) !important;
}

.btn-success.btn-outline:focus{
    color: #fff !important;
    background: var(--sub) !important;
}

.modalResponse{
    float: right;
}

.regMod{
  margin-top: 10px;
}

.notifier-alert{
  background: none;
  border: none;
  color: #000;
}

.untertitel{
  font-size: 20px !important;
}

.gonnerverein{
  text-align: left !important;
}

.wir_abteilung{
  color:grey !important;
}

.wir_geschichte{
  color: #000 !important;
}

.wir_vorstand{
  padding-bottom: 0px !important;
}

.wir_vorstand_name{
  float: left;
  font-weight: bold !important;
}

.wir_vorstand_txt{
  float: right;
}

.wir_spender_name{
  font-weight: bold !important;

}

.wir_spender{
    line-height: 32px !important;
}

.wir_partner{
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-attachment: scroll !important;
  background-position: center !important;
  box-shadow: none !important;
}

.footer_logo{
  margin-bottom: 35px !important;
}

.footer_titel{
  margin-top: 0px !important;
}
